.overlay {
    position: fixed; /* Sit on top of the page content */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.no-margin {
    margin: 0;
}

canvas {
    display: block;
}

#color-palette {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: xx-large;
    white-space: nowrap;
    line-height: 0.8;
}

.material-icons {
    line-height: inherit;
    vertical-align: middle;
    text-shadow: 0px 2px 4px #000000;
}